.circle-animated {
  animation: scale 1.8s;
  animation-iteration-count: infinite; }

@keyframes scale {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(0.8); } }

:root {
  color-scheme: light dark;
  --clr-primary:hsl(274, 82%, 60%);
  --clr-error:hsl(0, 100%, 66%);
  --clr-black-very-dark:hsl(0, 0%, 2%);
  --clr-black-dark:hsl(0, 0%, 12%);
  --clr-black-light:hsl(0, 0%, 18%);
  --clr-black-very-light:hsl(0, 0%, 23%);
  --clr-grey-very-dark:hsl(0, 0%, 51%);
  --clr-grey-dark:hsl(0, 0%, 46%);
  --clr-grey:hsl(0, 0%, 91%);
  --clr-grey-light:hsl(0, 0%, 96%);
  --clr-white:hsl(0, 0%, 100%);
  --ff-inter:'Inter', sans-serif;
  --ff-lora:'Lora', serif;
  --ff-inconsolata: 'Inconsolata', monospace;
  --fw-medium:400;
  --fw-big:700;
  --fs-default:1.6rem;
  --fs-big:6.4rem;
  --br-radius-default:1.6rem; }

.is-collapse {
  display: none !important; }

.u-mb-big {
  margin-bottom: 5rem !important; }

.u-mb-medium {
  margin-bottom: 3rem !important; }

.u-mb-small {
  margin-bottom: 2rem !important; }

.color-scheme, .header, .header__settings, .section-noun .box,
.section-verb .box, .result__header, .synonym, .footer small, .footer small a, .circle-animate {
  display: flex;
  align-items: center; }

.meaning__list--item,
.verb__list--item {
  color: var(--clr-black-light);
  list-style: none;
  position: relative;
  display: flex; }
  @media (prefers-color-scheme: dark) {
    .meaning__list--item,
    .verb__list--item {
      color: var(--clr-white); } }

.meaning__list--item::before,
.verb__list--item::before {
  content: "\25CF";
  font-size: 1.5rem;
  color: var(--clr-primary);
  position: absolute;
  top: -.1rem;
  left: -2rem; }

.verb--text {
  color: var(--clr-grey-dark); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: inherit; }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 54%; } }
  @media only screen and (max-width: 23.5em) {
    html {
      font-size: 46%; } }

input {
  font: inherit; }

body {
  font-family: var(--ff-inter);
  font-size: var(--fs-default);
  font-weight: var(--fw-medium);
  line-height: 1.5;
  color: var(--clr-black-very-dark);
  padding: 0 4rem; }
  @media (prefers-color-scheme: dark) {
    body {
      color: var(--clr-white);
      background-color: var(--clr-black-very-dark); } }
  @media only screen and (max-width: 23.5em) {
    body {
      padding: 0 2rem; } }
  @media only screen and (max-width: 23.5em) {
    body {
      font-size: 1.5rem; } }

body.dark {
  color: var(--clr-white);
  background-color: var(--clr-black-very-dark); }

.heading--2 {
  font-size: 2.4rem;
  display: inline-flex; }
  @media only screen and (max-width: 23.5em) {
    .heading--2 {
      font-size: 1.8rem; } }

.line {
  transform: translateY(-1.2rem);
  display: inline-block;
  width: 100%;
  height: .1rem;
  background-color: var(--clr-grey); }
  @media (prefers-color-scheme: dark) {
    .line {
      background-color: var(#3b3b3b); } }

.heading--3 {
  color: var(--clr-grey-dark);
  font-size: 1.8rem; }
  @media only screen and (max-width: 23.5em) {
    .heading--3 {
      font-size: 1.4rem; } }

.meaning__list,
.verb__list {
  padding-left: 3.5rem; }
  .meaning__list--item:not(:last-child),
  .verb__list--item:not(:last-child) {
    margin-bottom: 1.3rem; }
  .meaning__list--item.dark,
  .verb__list--item.dark {
    color: var(--clr-white); }

.custom-select {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.8rem;
  border-right: 1.4px solid var(--clr-grey);
  padding-right: 2rem;
  cursor: pointer; }

.selected-option {
  display: inline-block;
  font-weight: var(--fw-big) !important;
  position: relative; }

.arrow {
  width: 2rem;
  height: 2rem;
  stroke: var(--clr-primary);
  cursor: pointer; }

.options-container {
  width: 14rem;
  height: 13rem;
  padding: 1rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: calc(var(--br-radius-default ) / 2);
  position: absolute;
  top: 3.5rem;
  left: -6.9rem;
  z-index: 7000;
  background-color: var(--clr-white); }
  @media (prefers-color-scheme: dark) {
    .options-container {
      background-color: var(--clr-black-very-dark);
      box-shadow: 0px 2px 8px var(--clr-primary); } }
  .options-container.dark {
    background-color: var(--clr-black-very-dark);
    box-shadow: 0px 2px 8px var(--clr-primary); }

.option {
  cursor: pointer;
  font-weight: var(--fw-big); }

.option:hover {
  color: var(--clr-primary); }

.option:nth-of-type(2) {
  font-family: var(--ff-lora); }

.option:nth-of-type(3) {
  font-family: var(--ff-inconsolata); }

.select-arrow {
  display: inline-flex;
  height: 1.7rem;
  width: 1.7rem; }

.color-scheme {
  gap: 2rem; }

.color-scheme__control {
  display: inline-flex; }

[for="change"] {
  cursor: pointer;
  display: inline-block;
  width: 4rem;
  height: 2.2rem;
  border-radius: 200rem;
  background-color: var(--clr-grey-dark);
  position: relative; }

[for="change"]::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: .4rem;
  transform: translateY(-50%);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: var(--clr-white);
  transition: transform .3s ease; }

.checkbox {
  display: none; }

.checkbox:checked + [for="change"] {
  background-color: var(--clr-primary); }

.checkbox:checked + [for="change"]::after {
  transform: translate(122%, -50%); }
  @media (prefers-color-scheme: dark) {
    .checkbox:checked + [for="change"]::after {
      transform: translate(122%, -50%); } }

.form {
  width: 100%; }

.group-form {
  width: 100%;
  border: 1.5px solid var(--clr-grey);
  border-radius: calc(var( --br-radius-default) / 1.2);
  display: flex;
  align-items: center;
  background-color: var(--clr-grey-light);
  transition: all .3s; }
  @media (prefers-color-scheme: dark) {
    .group-form {
      background-color: var(--clr-black-dark);
      border-color: transparent; } }
  .group-form.dark {
    background-color: var(--clr-black-dark);
    border-color: transparent; }

.icon-search {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  stroke: var(--clr-primary);
  transform: translateX(-1rem); }

.input-search, .input-search:focus {
  appearance: none;
  display: block;
  width: calc(100% - (1.5rem * 2));
  padding: 1.2rem 1.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--clr-black-light);
  font-size: 1.6rem;
  font-weight: var(--fw-big); }
  @media only screen and (max-width: 23.5em) {
    .input-search, .input-search:focus {
      font-size: 1.5rem; } }
  @media (prefers-color-scheme: dark) {
    .input-search, .input-search:focus {
      color: var(--clr-white); } }

.input-search::placeholder {
  font-size: 1.6rem;
  font-weight: var(--fw-medium); }
  @media only screen and (max-width: 23.5em) {
    .input-search::placeholder {
      font-size: 1.4rem; } }
  @media (prefers-color-scheme: dark) {
    .input-search::placeholder {
      color: var(--clr-white); } }

.input-search.dark {
  color: var(--clr-white); }
  .input-search.dark::placeholder {
    color: var(--clr-white); }

.wrapper {
  width: 100%;
  max-width: 74.7rem;
  margin-inline: auto;
  padding: 4rem 1rem;
  overflow: hidden; }

.logo {
  width: 3rem;
  height: 3rem;
  stroke: var(--clr-grey-very-dark); }

.color-scheme__icon {
  width: 2rem;
  height: 2rem;
  stroke: var(--clr-grey-very-dark); }
  @media (prefers-color-scheme: dark) {
    .color-scheme__icon {
      stroke: var(--clr-primary); } }
  .color-scheme__icon.dark {
    stroke: var(--clr-primary); }

.icon--play {
  width: 7rem;
  height: 7rem;
  fill: var(--clr-primary);
  z-index: 10;
  transition: all .2s;
  cursor: pointer; }
  .icon--play circle:hover {
    opacity: 1; }
  .icon--play circle:hover ~ path,
  .icon--play circle:hover ~ path:hover {
    fill: var(--clr-white); }
  @media only screen and (max-width: 48em) {
    .icon--play {
      width: 5rem;
      height: 5rem; } }
  @media only screen and (max-width: 23.5em) {
    .icon--play {
      width: 4rem;
      height: 4rem; } }

.header {
  width: 100%;
  justify-content: space-between; }
  .header__settings {
    gap: 2.6rem; }

.section-noun .box,
.section-verb .box {
  gap: 2rem; }

.main {
  padding: 5rem 0; }

.result {
  width: 100%;
  margin-top: 4rem; }
  .result__header {
    justify-content: space-between;
    margin-bottom: 4rem; }
  .result--word {
    font-size: 5.4rem;
    font-weight: 700;
    text-transform: capitalize; }
    @media only screen and (max-width: 48em) {
      .result--word {
        font-size: 4rem; } }
    @media only screen and (max-width: 23.5em) {
      .result--word {
        font-size: 3rem; } }
  .result--phonetics {
    display: block;
    margin-top: -1rem;
    color: var(--clr-primary);
    font-size: 2.2rem; }
    @media only screen and (max-width: 23.5em) {
      .result--phonetics {
        margin: 0;
        font-size: 1.8rem; } }
  .result__error {
    text-align: center; }
    .result__error .emoji {
      display: inline-block;
      font-style: normal;
      font-size: 4rem;
      margin-bottom: 2rem; }
    .result__error.heading--4 {
      color: var(--clr-black-light); }
      @media (prefers-color-scheme: dark) {
        .result__error.heading--4 {
          color: var(--clr-white); } }
      .result__error.heading--4.dark {
        color: var(--clr-white); }
    .result__error p {
      padding: 0 2rem;
      color: var(--clr-grey-dark); }

.synonym {
  gap: 2rem; }
  .synonym > dd {
    color: var(--clr-primary);
    cursor: pointer; }
    .synonym > dd:hover {
      text-decoration: underline; }

.footer {
  width: 100%;
  border-top: 1px solid var(--clr-grey);
  padding-top: 2rem; }
  .footer small {
    font-size: 1.4rem;
    color: var(--clr-grey-dark);
    gap: 1rem; }
    @media only screen and (max-width: 23.5em) {
      .footer small {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.5rem; } }
    @media only screen and (max-width: 23.5em) {
      .footer small {
        font-size: 1.3rem; } }
    .footer small a {
      gap: .5rem; }
      .footer small a, .footer small a:link, .footer small a:visited {
        color: var(--clr-grey-dark);
        text-decoration: none; }
        @media (prefers-color-scheme: dark) {
          .footer small a, .footer small a:link, .footer small a:visited {
            color: var(--clr-white); } }
        .footer small a.dark, .footer small a:link.dark, .footer small a:visited.dark {
          color: var(--clr-white); }
        .footer small a.dark, .footer small a:link.dark, .footer small a:visited.dark {
          color: var(--clr-white); }
        .footer small a:hover, .footer small a:link:hover, .footer small a:visited:hover {
          color: var(--clr-primary);
          text-decoration: underline; }

.has-error {
  color: var(--clr-error);
  margin-top: .5rem;
  display: flex !important; }

.message-error {
  display: none; }

.has-border-error {
  border-color: var(--clr-error) !important; }

.circle-animate {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #F2E4FC;
  justify-content: center;
  z-index: 0; }
  @media (prefers-color-scheme: dark) {
    .circle-animate {
      background-color: #300850; } }
  .circle-animate.dark {
    background-color: #300850; }
